[submodule "src/bosh-warden-cpi"]
	path = src/bosh-warden-cpi
	url = https://github.com/cppforlife/bosh-warden-cpi.git
[submodule "src/warden-linux"]
	path = src/warden-linux
	url = https://github.com/cppforlife/warden-linux.git
	branch = wip_bosh_warden_cpi_fixes
