---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: ghcr.io/cloudfoundry/bosh/integration

inputs:
  - name: bosh-warden-cpi-release
  - name: bosh-acceptance-tests
  - name: release_tarball
  - name: iaas-stemcell
  - name: warden-ubuntu-stemcell
  - name: bosh-release
  - name: garden-linux-release
  - name: bosh-cli-github-release
  - name: director-creds
  - name: director-state
  - name: jumpbox-creds
  - name: jumpbox-state
  - name: infrastructure

run:
  path: bosh-warden-cpi-release/ci/tasks/bats.sh

params:
  STEMCELL_NAME:
